.overlay-styles {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(8, 161, 227, 0.6);
	z-index: 1000;
}
.modal-styles {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #88acc7;
	border-radius: 25px;
	padding: 10px;
	z-index: 1000;
	width: 70%;
	height: 90%;
	overflow: auto;
}
.modal-close-contener {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
}
.modal-close-btn {
	color: #186dad;
	font-size: 2em;
}
.modal-close-btn:hover {
	cursor: pointer;
	color: #549ad0;
}
.mod {
	background-color: #549ad0;
	color: #186dad;
}
.body-modal {
	padding: 10px;
}
.icon-modal {
	font-size: 1.6em;
	color: #186dad;
}
.icon-modal:hover {
	color: white;
}
.map-modal {
	margin-top: 10px;
}
#mapid {
	height: 180px;
}
.title-map {
	font-size: 0.8em;
	color: #186dad;
}
.file-map {
	font-size: 0.7em;
	color: white;
}
.legend-map {
	margin-left: 30px;
	margin-top: 10px;
	font-size: 0.8em;
	color: #186dad;
	padding-right: 20px;
}
@media only screen and (max-width: 600px) {
	.modal-styles {
		width: 80%;
	}
	.modal-close-btn {
		font-size: 1.5em;
	}
	.mod {
		background-color: #549ad0;
		color: #186dad;
	}
	.body-modal {
		padding: 5px;
	}
	.icon-modal {
		font-size: 1.2em;
	}
}
